*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    background-color: #44944A;
    overflow: hidden;
    min-height: 800px;
    
}
.App{
    width: 800px;
    background-color:#44944A;
}

.post{
    background-color:#9B2D30;
    font-size:20px;
    display: grid;
    color:white;
    grid-template-columns: auto auto auto;
    border:2px solid #44944A;;
    padding: 15px;
    height: fit-content;
}
